---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Masthead from '../components/Masthead.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config';

import { IoArrowForward } from 'react-icons/io5';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px] ">
      <Masthead />
      <h1 class="font-mplus text-center">What I use</h1>
      <Content>
        <section>
          <p class="mb-5 indent-4">
            As an indie developer, I&apos;ve been spending hours and hours at my
            desk every day. So, I&apos;ve been continuously improving my
            workspace in order to boost my productivity. Whenever I upload new
            content, people ask me what tools I use. So, here is a living
            snapshot and a place to point curious developers to when I get
            asked. Most of the links are amazon affiliate links, so I&apos;ll
            get filthy rich if you click them and buy something.
            <a
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              href={HOMEPAGE_URL}
              >Learn more about me <IoArrowForward className="inline" />
            </a>
          </p>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
