---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import ThemeToggleButton from './ThemeToggleButton';

import { IoLogoGithub } from 'react-icons/io5/index.js';
import { BiMessageAltError } from 'react-icons/bi';
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg flex items-center">
          <BiMessageAltError className="mr-1 transition-transform group-hover:rotate-[-20deg]"/>
          {SITE_TITLE}
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href="https://twitter.com/jafar_juneidi0" target="_blank">Twitter</HeaderLink>
        <HeaderLink href="https://github.com/jafarjuneidi" target="_blank"><IoLogoGithub /> GitHub</HeaderLink>
      </div>
      <div class="flex-1"></div>
      <ThemeToggleButton client:load/>
    </nav>
  </div>
</header>
