<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <img src="/me.jpeg"
    class= "absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-40"/>
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-lg mb-4 font-mplus font-medium"">Welcome to <span class="text-blue-500">ErrorExe</span></div>
    <div class="text-4xl font-mplus font-medium">Where I write about my Learning...<br>and my <span class="text-blue-500">Errors</span></div>
  </div>
</section>
